body,
html {
    height: 100%;
}

body {
    font-family: serif;
    margin: 0;
}

body #bg {
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    background-color: #4466a0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

@media (min-width: 840px) {
    body #bg {
        -webkit-clip-path: polygon(0 0, 74% 0, 53% 100%, 0% 100%);
        clip-path: polygon(0 0, 74% 0, 53% 100%, 0% 100%);
    }
}

body header a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-transform: uppercase;
}

@media (min-width: 840px) {
    main {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
    }
}

main section#card {
    background: #fff;
    padding: 20px;
    margin: 1em auto;
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 80%;
}

@media (min-width: 840px) {
    main section#card {
        grid-area: card;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin: 1em;
    }
}

main section#card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main section#card ul li {
    margin-bottom: 10px;
}

main section#card ul li span {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    background-color: #001033;
    border-radius: 50%;
    margin-right: 10px;
}

main section#card ul li strong {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

main section#primary {
    color: #080404;
    padding: 15px;
    text-align: center;
}

@media (min-width: 840px) {
    main section#primary {
        grid-area: primary;
        text-align: left;
        margin: 4em 0 0 4em;
    }
}

main section#primary h1 {
    font-size: 3em;
    margin-top: 30px;
    text-transform: uppercase;
}

@media (min-width: 840px) {
    main section#primary h1 {
        width: 30%;
        font-size: 4em;
        line-height: 0.9em;
    }
}

main section#primary p {
    font-size: 1.4em;
}

main section#primary a {
    color: #10244e;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fff648;
    display: block;
    text-align: center;
    margin: 50px auto 0 auto;
    padding: 15px;
}

@media (min-width: 840px) {
    main section#primary a {
        display: inline-block;
        padding: 15px 60px;
    }
}


/*# sourceMappingURL=style.css.map */