body {
    background-color: #FFF;
    font: 13px Sans-Serif;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
}


/* Menu Bar */

#menu {
    width: auto;
    float: left;
    font-weight: bold;
    cursor: pointer;
    background: #5C7C99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#menu ul {
    display: table;
    line-height: 10px;
}

#menu ul li {
    position: relative;
    display: inline;
}

#menu ul li a {
    float: left;
    position: relative;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
}

#menu ul li a:hover {
    background: #000;
}

#menu ul ul {
    position: absolute;
    width: 210px;
    top: 50px;
    left: -370px;
    /* CHROME, SAFARI */
    -webkit-transform: translateX(232px);
    /* CHROME SAFARI */
    -moz-transform: translateX(135px);
    /* FIREFOX */
    /* BACKGROUND COLOR AND BORDER. */
    background: #5C7C99;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    /* ADD BORDER SHADOW. */
    box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 10px #444;
    -webkit-box-shadow: 0 0 10px #444;
}


/* SUB MENU LIST */

#menu ul ul li {
    text-align: left;
    margin: 0;
}


/* SET HEIGHT AS '0', SO THE SUBMENUS REMAINS HIDDEN IN THE BEGINNING. */

#menu ul ul li a {
    height: 0;
    line-height: 0;
    width: 200px;
    color: #FFF;
    padding: 0 20px;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

#menu ul ul ul {
    visibility: hidden;
    position: absolute;
    top: 80px;
}

#cats a {
    transition: all 0.5s ease-in;
}

#cats:hover ul li a {
    height: 40px;
    line-height: 40px;
    -moz-opacity: 1;
    opacity: 1;
    transform: rotate(360deg);
    filter: alpha(opacity=100);
}

#menu #cats #nin>ul {
    transition: opacity 0.2s 0.01s ease-in-out, left 1s 3s ease-out, visibility 0.1s 0.1s linear;
}

#menu #cats #nin:hover>ul {
    visibility: visible;
    position: absolute;
    left: -232px;
    /* CHROME, SAFARI */
    -moz-transform: translateX(232px);
    /* FIREFOX */
}